"" Source your .vimrc
"source ~/.vimrc
let mapleader=" "
set timeoutlen=500
"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5
" 屏幕滚动时在光标上下方保留5行预览代码
set so=5
" Do incremental searching.
set incsearch
set hlsearch
set ignorecase
set smartcase
set showmode
set nu
set rnu
" 设置字不超过窗口
set wrap
" 突出水平显示
set cursorline
" 设置tab键和自动缩进
set tabstop=4
set shiftwidth=4
set softtabstop=4
" 下一行和上一行的格式相同
set autoindent
set cindent
" 设置窗口分屏方向
set splitright
set splitbelow
" Don't use Ex mode, use Q for formatting.
map Q gq


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

" === Open Plugins
" ===
set NERDTree
set surround
set multiple-cursors
set commentary "能用gcc gc+motion来注释代码
set keep-english-in-normal-and-restore-in-insert  "普通模式强制以英文模式
set easymotion
set argtextobj
set highlightyank
set textobj-entire

" open NERDTree
nnoremap <leader>e :NERDTree<CR>
" close NERDTree
nnoremap Q :NERDTreeClose<CR>
" 弹出文件结构信息(相当于显示大纲)
nnoremap <leader>o mm`m:action FileStructurePopup<CR>
" Find more examples here: https://jb.gg/share-ideavimrc
inoremap jk <Esc>
" 快速关闭buffers
nnoremap X :q<cr>
" 使用tab键快速切换buffers
nnoremap <TAB> gt
nnoremap <S-TAB> gT
vnoremap <TAB> gt
vnoremap <S-TAB> gT
" vim窗口操作
nnoremap <C-j> <C-W>j
nnoremap <C-k> <C-W>k
nnoremap <C-h> <C-W>h
nnoremap <C-l> <C-W>l
nnoremap sc <C-W>c
nnoremap sv :vsplit<CR>
nnoremap sg :split<CR>
"关闭到只剩当前tab栏
nnoremap <leader>bo :action CloseAllEditorsButActive<CR>
" 快速复制到行尾
vnoremap Y y$
nnoremap Y y$
" 插入模式快速移动
inoremap <C-a> <Home>
inoremap <C-e> <End>
" 其他模式快速移动
nnoremap H ^
nnoremap L $
vnoremap H ^
vnoremap L $
nnoremap J 5j
nnoremap K 5k
vnoremap J 5j
vnoremap K 5k
" 多行缩进在visual mode
vnoremap > >gv
vnoremap < <gv

" 重命名文件
nnoremap <leader>rn :action RenameFile<CR>
"最近改动文件间相互跳转
nnoremap <leader>rf mm`m:action RecentChangedFiles<CR>
" 查找文件
nnoremap <leader>ff mm`m:action GotoFile<CR>
" 最近查看文件间相互跳转
nnoremap <leader>fr mm`m:action RecentFiles<CR>
" 查找用法
nnoremap <leader>fu :action FindUsages<CR>
"跳转到声明
nnoremap gd mm`m:action GotoDeclaration<CR>
" 打开General菜单
nnoremap go :action Generate<CR>
"跳转到实现类
nnoremap gi mm`m:action GotoImplementation<CR>
" 查找类
nnoremap gc mm`m:action GotoClass<CR>

" 新建类
nnoremap <leader>nc :action NewClass<CR>
" 新建项目
nnoremap <leader>np :action NewProject<CR>
" 新建文件 (嘻嘻,啥都可以直接用快捷键建立,一个字爽)
nnoremap <leader>ne :action NewElement<CR>
" 删除当前文件 (快速删除)
nnoremap <leader>nd :action SafeDelete<CR>
" 复制文件元素
nnoremap <leader>ny :action CopyElement<CR>
" 代码环绕(快速添加if 或者while)
nnoremap <leader>ns :action SurroundWith<CR>
vnoremap <leader>ns :action SurroundWith<CR>

